{% extends 'base.html'%}
    {% block css %}
        {# customer css for this page in here #}
    {% endblock %}
{% block title %}
    Login
{% endblock %}
{% block content %}
    <h1>Login</h1>
    <small style="color:red">{{error}}</small>
    
    <form action="{{url_for('auth.login')}}" method="POST">
        {{ form.hidden_tag() }}
        
        {# email section #}
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
        {# email errors #}
        

        {# password section #}
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
        {# submit section #}

        {{ form.submit(class="btn btn-primary") }}


    </form>
{% endblock %}